{
    "extends": "cbtnuggets/rules/react",
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "webpack": {
            "config": "webpack.config.js"
            }
        }
    }
}
